<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>[[${title}]] - Logoinowanie</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/lib/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/site.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2/dist/sweetalert2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css}" />
    <script type="text/javascript" th:src="@{~/lib/jquery/dist/jquery.min.js}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand text-dark">Wojciech Piwowarski </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a th:href="@{/home/kontakt}" class="nav-link text-dark"><i class="fas fa-id-card"></i> Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/home/oferta}" class="nav-link text-dark"><i class="fas fa-shipping-fast"></i> Oferta</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/home/privacy}" class="nav-link text-dark"><i class="fas fa-user-secret"></i> Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/pwallet}" class="nav-link text-dark"><i class="fas fa-tasks"></i> Todo</a>
                    </li>
                    <li class="nav-item border border-info" sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}" class="nav-link text-dark">Logout <i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    <li class="nav-item border border-info" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/auth/login}" class="nav-link text-dark">Login <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li class="nav-item border border-info" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/auth/register}" class="nav-link text-dark">Register <i class="fas fa-user-plus"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main th:replace="${page} :: main">
    <div th:replace="${page} :: content">
    </div>
</main>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy;
        <script type="text/javascript">document.write(new Date().getFullYear());</script>
        - Wojciech Piwowarski - Portfolio. Programista webowy zaprasza do współpracy! - <a th:href="@{/home/privacy}"><i
            class="fas fa-user-secret"></i> Privacy</a>
    </div>
</footer>
<script type="text/javascript" src="https://kit.fontawesome.com/1c8292cc9a.js" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{~/lib/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/site.js}"></script>
<script type="text/javascript" th:src="@{https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js}"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.29.2/sweetalert2.all.js}"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>
</body>
</html>