<main th:fragment="main" class="container">
    <div th:fragment="content" class="pb-3">
        <div class="row text-dark">
            <div class="col-md-6 offset-md-3">
                <div class="card login-logout-tab">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/auth/login}">Zaloguj</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/auth/register}">Zarejestruj</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <div class="col-md-12">
                            <div class="col-md-10 offset-1">
                                <div class="login-form-icon">
                                    <i class="fas fa-user-circle fa-9x text-secondary"></i>
                                </div>
                                <form th:action="@{/auth/login}" method="POST" class="form-signin">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                            </div>
                                            <input type="text" id="email" name="email" th:placeholder="Email"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-lock"></i>
                                                </div>
                                            </div>
                                            <input type="password" th:placeholder="Password" id="password"
                                                   name="password"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                    <div align="center" th:if="${param.error}"></div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block" type="Submit" th:text="Login">
                                            Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                var current = location.pathname;
                $('.nav-tabs li a').each(function () {
                    var $this = $(this);
                    if (current.indexOf($this.attr('href')) !== -1) {
                        $this.addClass('active');
                    }
                })
            })
        </script>
    </div>
</main>