<main th:fragment="main" class="container">
    <div th:fragment="content" class="pb-3">
        <div class="container row pow-0 m-0">
            <div class="col-9">
                <h1 class="text-info">List of TODO's <i class="fas fa-tasks"></i></h1>
            </div>
            <div class="col-3">
                <a class="btn btn-info form-control" href="/pwallet/add-todo">Add Todo</a>
            </div>
            <div class="container row pow-0 m-0">
                <div class="col-12 border p-3 bg-light">
                    <div class="col-12">
                        <h2 class="text-info text-center"><i class="fas fa-tasks"></i> Todo</h2>
                    </div>
                    <table class="table table-striped table-bordered" width="100%">
                        <thead>
                        <tr>
                            <th class="text-center" width="10%">Checked</th>
                            <th class="text-center" width="10%">User</th>
                            <th class="text-center" width="30%">Description</th>
                            <th class="text-center" width="30%">Target Date</th>
                            <th class="text-center" width="20%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="todo : ${todos}">
                            <tr>
                                <td class="text-center" th:if="${todo.isDone}"><i
                                        class="text-success h3 fas fa-clipboard-check"></i></td>
                                <td class="text-center" th:unless="${todo.isDone}"><i
                                        class="text-warning h3 fas fa-clipboard-check"></i></td>
                                <td class="text-center">[[${todo.userName}]]</td>
                                <td class="text-center" th:if="${todo.isDone}">
                                    <del>[[${todo.description}]]</del>
                                </td>
                                <td class="text-center" th:unless="${todo.isDone}">[[${todo.description}]]</td>
                                <td class="text-center" th:if="${todo.isDone}">
                                    <del>[[${todo.targetDate}]]</del>
                                </td>
                                <td class="text-center" th:unless="${todo.isDone}">[[${todo.targetDate}]]</td>
                                <td class="text-center">
                                    <a type="button" class="btn btn-success"
                                       th:href="@{'/pwallet/update-todo?id=' + ${todo.id}}">Update</a>
                                    <a type="button" class="btn btn-warning"
                                       th:href="@{'/pwallet/delete-todo?id=' + ${todo.id}}">Delete</a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>

                    <br />
                    <br />
                    <br />
                    <script th:src="@{~/js/WalletTable.js}"></script>

                    <table id="DT_load" class="table table-striped table-bordered text-center" width="100%">
                        <thead>
                        <tr>
                            <th class="text-center" width="10%">Checked</th>
                            <th class="text-center" width="10%">User</th>
                            <th class="text-center" width="35%">Description</th>
                            <th class="text-center" width="20%">Target Date</th>
                            <th class="text-center" width="25%"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>